<div class="post">
    <form method="POST">
        <input placeholder="What's on your mind?" type="text" id="message" name="message" required>
        <button type="submit">Send</button>
    </form>
</div>